<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>DANH SÁCH BỆNH NHÂN</h5>
        </div>
        <div class="card-body validateSearch">
            <div class="block-search-filter row p-lg-0 m-b-15">
                <div class="col-12 col-md-4 col-xl-3">
                    <ng-container *ngTemplateOutlet="filter"></ng-container>
                </div>

                <at-input-delay-search  class='col-12 col-md-8 col-xl-9 w-100 block-search'
                                        (inputEmitter)="onSearch($event)"
                                        [textPlaceHolder]="'Tìm Mã bệnh nhân - Mã hồ sơ - Tên - Số điện thoại'">
                </at-input-delay-search>
            </div>

            <ng-container *ngTemplateOutlet="result"></ng-container>
            <ng-container *ngTemplateOutlet="medicalRecordTable"></ng-container>

            <div class="d-flex justify-content-end m-t-16" *ngIf="medicalRecordSelected?.length !== 0">
                <button class="btn btn-second" (click)="onSendNotiPayment()">Nhắc nợ</button>
            </div>

            <!-- <at-table
                [tableData]="medicalrecord"
                [columnDef]="columnDef"
                [limit]="10"
                [scrollbarH]="true">
            </at-table> -->

        </div>
    </div>
</div>
<ng-template #medicalRecordTable>
  <div class="custom-datatable">
<div id="batchDelete">
  <div class="table-responsive">
      <ngx-datatable class="bootstrap"
          [rows]="medicalrecord ? medicalrecord : []"
          [columns]="columnDef"
          [columnMode]="'force'"
          [headerHeight]="'auto'"
          [footerHeight]="medicalrecord && medicalrecord.length > 0 ? 50 : 0"
          [rowHeight]="'auto'"
          [limit]="10"
          [selectionType]="'single'"
          #tables
          [selected]="medicalRecordSelected"
          [selectionType]="'checkbox'"
          (select)="onSelect($event)"
          [scrollbarH]="true"
          [messages]="{emptyMessage: 'Không có dữ liệu'}">

          <!-- <ngx-datatable-row-detail
              [rowHeight]="'auto'"
              #myDetailRow >
              <ng-template
                  let-row="row"
                  let-expanded="expanded"
                  ngx-datatable-row-detail-template>

                  <ng-container *ngTemplateOutlet="medicalRecordDetailTable,
                                                  context: { datas: row.medicalRecordDetail, limit: row.medicalRecordDetail?.length}">
                  </ng-container>

              </ng-template>
          </ngx-datatable-row-detail> -->

          <ng-container>
              <ngx-datatable-column
                  [width]="30"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false" name="">
                  <ng-template
                      ngx-datatable-header-template
                      let-value="value"
                      let-allRowsSelected="allRowsSelected"
                      let-selectFn="selectFn">
                      <input type="checkbox"
                          [checked]="allRowsSelected"
                          (change)="selectFn(!allRowsSelected)" />
                  </ng-template>
                  <ng-template
                      ngx-datatable-cell-template
                      let-value="value"
                      let-isSelected="isSelected"
                      let-onCheckboxChangeFn="onCheckboxChangeFn">
                      <input type="checkbox"
                          [checked]="isSelected"
                          (change)="onCheckboxChangeFn($event)" />
                  </ng-template>
              </ngx-datatable-column>
          </ng-container>

          <ng-container>
              <ngx-datatable-column
                  [width]="30"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false">
                  <ng-template
                      let-row="row"
                      let-rowIndex="rowIndex"
                      let-expanded="expanded"
                      ngx-datatable-cell-template>

                      <!-- <at-feather-icons class='feather-20 d-flex c-pointer' [icon]="'chevron-up'" (click)="onCollapseExpandRow(row)" *ngIf="expanded">
                      </at-feather-icons>

                      <at-feather-icons class='feather-20 d-flex c-pointer' [icon]="'chevron-down'" (click)="onToggleExpandRow(row)" *ngIf="!expanded">
                      </at-feather-icons> -->
                  </ng-template>
              </ngx-datatable-column>
          </ng-container>

          <ngx-datatable-column
              *ngFor="let col of columnDef"
              [prop]="col.prop"
              [width]='col.width'>
              <ng-template
                  let-column="column"
                  let-sort="sortFn"
                  ngx-datatable-header-template>
                  <div [style]="col.styleHeader">
                      <span class="mobile-hidden">{{col.name}}</span>
                  </div>
              </ng-template>
              <ng-template
                  let-value="value"
                  ngx-datatable-cell-template
                  let-row='row'>
                  <div [style]="col.styleBody" [routerLink]="['I']" [queryParams]="{_id: row?._id}">
                      <span class="mobile-hidden" [ngClass]="{'text-highlight': col.router}">
                          {{
                          col.colType == "date" ? ( value | date : 'dd/MM/yyyy' )
                          : col.colType == "money" ? ( value | currency:'VND':'symbol':null:'vi-VN')
                          : col.colType == "tel" ? ( formatPhoneNumber(value) )
                          : (value | replaceNull)
                          }}
                      </span>
                  </div>
              </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-footer>
              <ng-template
                  ngx-datatable-footer-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset">
                  <span>Tổng<span class="font-weight-bold">&nbsp;{{ medicalrecord.length }}</span></span>
                  <datatable-pager
                      [pagerLeftArrowIcon]="'datatable-icon-left'"
                      [pagerRightArrowIcon]="'datatable-icon-right'"
                      [pagerPreviousIcon]="'datatable-icon-prev'"
                      [pagerNextIcon]="'datatable-icon-skip'"
                      [page]="curPage" [size]="pageSize"
                      [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                      (change)="tables.onFooterPage($event)">
                  </datatable-pager>
              </ng-template>
          </ngx-datatable-footer>
      </ngx-datatable>
  </div>
</div>
   </div>
  </ng-template>
<ng-template #filter>
    <at-filter-view
        (eventAddFilter)="onAddCondiotion()"
        [title]="'Hiển thị hồ sơ bệnh án theo'">
        <select class="form-control"
                [(ngModel)]="filterResult.condition"
                (change)="onFilterConditionChange()">
                <option *ngFor="let item of conditionData | keyvalue" [value]="item.key">
                    {{item.value}}
                </option>
            </select>

            <ng-container *ngIf="filterResult.condition == 'patient'">
                <select class="form-control mt-2" [(ngModel)]="filterResult.value">
                    <option [ngValue]="null">Chọn điều kiện</option>
                    <option *ngFor="let item of patientFilter" [value]="item">
                        {{item}}
                    </option>
                </select>
            </ng-container>
            <ng-container *ngIf="filterResult.condition == 'statusPayment'">
                <select class="form-control mt-2" [(ngModel)]="filterResult.value">
                    <option [ngValue]="null">Chọn điều kiện</option>
                    <ng-container *ngFor="let item of statusPaymentFilter | keyvalue">
                        <option [value]="item.value" *ngIf="item.value != statusPaymentFilter.PAYMENT_PARTICIPAL">
                            {{item.value}}
                        </option>
                    </ng-container>
                </select>
            </ng-container>
            <ng-container *ngIf="filterResult.condition == 'statusMedical'">
                <select class="form-control mt-2" [(ngModel)]="filterResult.value">
                    <option [ngValue]="null">Chọn điều kiện</option>
                    <ng-container *ngFor="let item of statusMedical | keyvalue">
                        <option [value]="item.value">
                            {{ item.value }}
                        </option>
                    </ng-container>
                </select>
            </ng-container>
            <ng-container *ngIf="filterResult.condition == 'birthDate' || filterResult.condition == 'createDate'">
                <div class="row m-0">
                    <div class="col-12 p-0">
                        <span>Từ</span>
                        <input class="form-control" type="date" required="" [(ngModel)]="filterResult.fromDate" />
                    </div>
                    <div class="col-12 p-0">
                        <span>Đến</span>
                        <input class="form-control" type="date" required="" [(ngModel)]="filterResult.toDate" />
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="filterResult.condition == 'examineDate'">
                <div class="row m-0">
                    <div class="col-12 p-0">
                        <span>Từ</span>
                        <input class="form-control" type="date" required="" [(ngModel)]="filterResult.fromDate"
                            (change)="filterResult.toDate = null" />
                    </div>
                    <div class="col-12 p-0">
                        <span>Đến</span>
                        <input class="form-control" type="date" required="" [(ngModel)]="filterResult.toDate"
                            [disabled]="!filterResult.fromDate" [max]="onGetLimitDate()" />
                    </div>
                </div>
            </ng-container>
    </at-filter-view>
</ng-template>

<ng-template #result>
    <div class="render p-b-15">
        <span class="spanRender px-4 py-2 b-r-4 m-r-12 f-12" style="background-color: #f99f2a; color: #fff;"
            *ngIf="!textSearch?.trim() && renderSelect?.length == 0">
            Hiện tại đang hiển thị 7 Ngày khám gần nhất
        </span>
        <span class="spanRender px-4 py-2 b-r-4 m-r-12 f-12" *ngFor="let item of renderSelect">
            <span *ngIf="item.key == 'patient' || item.key == 'statusPayment' || item.key == 'statusMedical'">
                {{item.firstCondition + ' là ' + item.secondCondition}}
            </span>
            <span *ngIf="item.key == 'serviceRequest'">
                {{item.firstCondition + ' là ' + getServiceRequestName(item.secondCondition)}}
            </span>
            <ng-container *ngIf="item.key == 'birthDate' || item.key == 'examineDate' || item.key == 'createDate'">
                <span *ngIf="item.fromDate && item.toDate">
                    {{item.firstCondition +' '+ (item.fromDate | date : 'dd/MM/yyyy') + ' - '
                    + (item.toDate | date : 'dd/MM/yyyy')}}
                </span>
            </ng-container>
            <button (click)="onRemoveFilter(item)">X</button>
        </span>
    </div>
</ng-template>
