<div class="container-fluid">
  <div class="card">
      <div class="card-header d-flex justify-content-between">
          <h5>Cài đặt zalo</h5>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <div >
                <label class="m-r-10">Hạn sử dụng token còn lại:
                   <span class="f-w-700">{{dateToken > 0 ? dateToken + ' ngày' : 'hết hạn'}}</span>
                </label>
                <button class="btn btn-second" (click)="handleClickNewToken()">Xác thực</button>
              </div>
            </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 d-flex justify-content-between align-items-center m-b-10">
            <label class="f-w-700">Thông tin cài đặt zalo</label>
            <ng-container>
              <at-feather-icons class='btn-icon c-pointer hide_lt-md' *ngIf="!isEdit.zaloStingEdit"  (click)="handleUpdateService(typeEdit.ZALO)" [icon]="'edit'">
              </at-feather-icons>
              <at-feather-icons class='btn-icon c-pointer hide_lt-md' *ngIf="isEdit.zaloStingEdit" (click)="handleUpdateService(typeEdit.ZALO)" [icon]="'x-square'">
              </at-feather-icons>
          </ng-container>
          </div>
        </div>
        <div class="row" [formGroup]="ZaloInfoForm">
                  <ng-container *ngFor="let obj of ZaloInfo">
                      <div class="col-12 form-group">
                          <div class="row">
                              <span class="col-12 col-md-3 d-flex align-items-center"><span *ngIf="isEdit.zaloStingEdit">*</span>{{ obj.label }}: </span>
                              <ng-container *ngIf="!isEdit.zaloStingEdit; else edit">
                                  <div class="col-12 col-md-9 d-flex flex-column align-items-start">
                                      <span class="f-w-700">{{ ZaloInfoForm?.get(obj.formName)?.value }}</span>
                                  </div>
                              </ng-container>
                              <ng-template #edit>
                                  <at-input
                                  [inputRequired]="validateForm(ZaloInfoForm, obj.formName)"
                                  [inputValid]="ZaloInfoForm.controls[obj.formName]?.errors?.required"
                                      class="col-12 col-md-9 hidden-margin"
                                      [formName]="obj.formName"
                                      [disabled]="!isEdit.zaloStingEdit">
                                      <div class="regexTel">
                                        <ng-container *ngIf="validateForm(ZaloInfoForm,  obj.formName)">
                                            <p class="text-danger" *ngIf="ZaloInfoForm.get(obj.formName)?.errors?.required"> Nhập {{obj.label}}</p>
                                        </ng-container>
                                      </div>
                                  </at-input>

                              </ng-template>
                          </div>
                      </div>

                  </ng-container>
                  <div class="col-12 d-flex justify-content-end" *ngIf="isEdit.zaloStingEdit">
                    <button class="btn btn-primarys"  (click)="onSaveForm(typeEdit.ZALO)" >lưu</button>
                  </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 d-flex justify-content-between align-items-center m-b-10">
            <label class="f-w-700">Danh sách mẫu thông báo hiện tại</label>
            <ng-container>
              <at-feather-icons class='btn-icon c-pointer hide_lt-md' *ngIf="!isEdit.notificationStingEdit"  (click)="handleUpdateService(typeEdit.NOTIFICATION)" [icon]="'edit'">
              </at-feather-icons>
              <at-feather-icons class='btn-icon c-pointer hide_lt-md' *ngIf="isEdit.notificationStingEdit" (click)="handleUpdateService(typeEdit.NOTIFICATION)" [icon]="'x-square'">
              </at-feather-icons>
          </ng-container>
          </div>
        </div>
        <div class="row" [formGroup]="NotificationForm">
                  <ng-container *ngFor="let obj of notificationContent">
                      <div class="col-12 form-group">
                          <div class="row">
                              <span class="col-12 col-md-5 d-flex align-items-center">{{ obj.label }}: </span>
                              <ng-container *ngIf="!isEdit.notificationStingEdit; else edit">
                                  <div class="col-12 col-md-7 d-flex flex-column align-items-start">
                                      <span class="f-w-700">{{ NotificationForm?.get(obj.formName)?.value | replaceNull }}</span>
                                  </div>
                              </ng-container>
                              <ng-template #edit>
                                  <at-input
                                      class="col-12 col-md-7 hidden-margin"
                                      [formName]="obj.formName"
                                      [disabled]="!isEdit.notificationStingEdit">
                                      <!-- <div class="regexTel">
                                        <ng-container *ngIf="validateForm(NotificationForm,  obj.formName)">
                                            <p class="text-danger" *ngIf="NotificationForm.get(obj.formName)?.errors?.required"> Nhập {{obj.label}}</p>
                                        </ng-container>
                                      </div> -->
                                  </at-input>
                              </ng-template>
                          </div>
                      </div>

                  </ng-container>
                  <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-primarys"  (click)="onSaveForm(typeEdit.NOTIFICATION)" *ngIf="isEdit.notificationStingEdit">lưu</button>
                  </div>
        </div>
      </div>
    </div>
  <!-- <at-examina-footer (eventCancel)="location.back()" [_isComplete]="true">
</at-examina-footer> -->





