@import '../../input-delay-search/input-delay-search.component.scss';
@import '../../at-select/at-select.component.scss';

.option-custom {
  font-size: 14px !important;
  font-family: "Montserrat";
  padding: 0.25rem 1.5rem;
}

.option-add {
  color: #f99f2a;
  padding: 0.25rem 1.5rem;
  font-size: 14px;
}