<div class="form-group hide-arrow">
  <label class="btn-default-font" *ngIf="label">
    <span class="star-color" *ngIf="required">* </span>{{label}}</label>
  <div ngbDropdown #myDrop="ngbDropdown" #dropDownWidth>
    <div #search class="drop-input-search" [ngClass]="{'select-disabled': disabled}">
      <div class="input-filter">
        <div class="input-filter__box b-r-5 px-12 py-4 px-12 d-flex align-items-center" [ngClass]="{'input-danger': selectRequired}" ngbDropdownToggle>
            <img class="h-px-18" src="../../../../assets/images/Icon/20px Icon/search.png">
            <div class="d-flex w-100">
                <input class='m-b-0'
                  [placeholder]="textPlaceHolder"
                  autocomplete="on" type="text"
                  (keyup)="onKeyUp($event)"
                  [(ngModel)]="textSearch"
                  [ngModelOptions]="{standalone: true}"
                  (click)="myDrop.close()">
                <at-feather-icons class='c-pointer' *ngIf='!!textSearch' [icon]="'x'" (click)="removeText()"></at-feather-icons>
            </div>
        </div>
      </div>
    </div>

    <div class='dropdown-dialog' ngbDropdownMenu aria-labelledby="dropdownBasic1 fontDropdown" [matchWidth]="dropDownWidth">
      <div ngbDropdownItem
        *ngFor="let val of serviceRequestFilter"
        [ngClass]="{'select-active': val.serviceRequestName == formControlSelect?.value}"
        (click)="handleSelectedChange(val?.serviceRequestName, val._id)">{{ val?.serviceRequestName }}</div>

      <span class="option-add c-pointer" *ngIf="!isCreate" (click)="isCreate = !isCreate">Khác</span>
      
      <div class="form-group option-custom option-save py-12" *ngIf="isCreate" [formGroup]="serviceRequestForm">
        <div class="d-flex justify-content-between align-items-center">
          <at-input class="hidden-margin p-l-0"
            [formName]="'serviceRequestName'"
            [required]="true"
            [inputRequired]="validateForm(serviceRequestForm, 'serviceRequestName')"
            [inputValid]="serviceRequestForm.controls.serviceRequestName.errors?.required">
          </at-input>
          <button class="btn-icon m-0" (click)="onCreateServiceRequest()">
            <at-feather-icons class="h-px-18" [icon]="'plus'"></at-feather-icons>
          </button>
        </div>

        <ng-container *ngIf="validateForm(serviceRequestForm, 'serviceRequestName') && isCreate">
          <p class="text-danger m-b-0" *ngIf="serviceRequestForm.controls.serviceRequestName.errors?.required">
            Nhập chỉ định thực hiện
          </p>
        </ng-container>
        <ng-container class="regexTel" *ngIf="serviceRequestForm.get('serviceRequestName')?.errors?.nameDuplicated">
          <p class="text-danger"> Tên chỉ định đã tồn tại </p>
        </ng-container>
      </div>
    </div>
    
    <div *ngIf="selectRequired && label">
      <p class="text-danger m-0" *ngIf="selectValid">Chọn {{ label }}</p>
    </div>
    <ng-content select=".regexTel"></ng-content>
  </div>
</div>