.content {
  width: 100%;
  height: max-content;
  margin: 24px auto;
  background-color: #fff;
  padding: 36px 60px;
  line-height: 28px;

  &_header {
    &-top {
      font-size: 15px;
    }

    &-title {
      font-size: 20px;
      font-weight: bold;

      span {
        width: 350px;
      }
    }
  }

  &_body {
    .form-input {
      height: 25px;
      flex: 1;
      border: none;
      border-bottom: 1px dotted #313131;
      margin-left: 4px;
    }

    &-infor {
      &-birthday {
        flex: .7;
      }

      &-sex {
        flex: .3;
      }
    }
  }

  &_signature {
    height: 300px;

    input {
      height: 25px;
      width: 30px;
      border: none;
      border-bottom: 1px dotted #313131;
    }

    input:nth-child(1) {
      width: 90px;
    }

    input:nth-child(4) {
      width: 50px;
    }
  }
}