<div class="modal-header">
    <h4 class="modal-title">Hình ảnh</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <img [src]="img" alt="" width="100%">
</div>
<div class="modal-footer">
    <div class='btn-position-default'>
        <button type="button" class="btn btn-primarys m-r-20" (click)="onPrint()">In </button>
        <button type="button" class="btn" (click)="activeModal.close()">Quay lại</button>
    </div>
</div>