<at-modal-header (onClose)="activeModal.dismiss('Cross click')">
    Quên mật khẩu
</at-modal-header>
<div class="modal-body">
    <div class="needs-validation" [formGroup]="forgotPasswordForm">
        <div class="row">
            <div class="col-12">
                <h5>Vui lòng nhập địa chỉ email bạn đã đăng kí để cài lại mật khẩu.</h5>
            </div>
            <div class="col-12">
                <at-input 
                    [label]="'Email'" 
                    [formName]="'email'" 
                    [required]="true"
                    [inputRequired]="validateForm(forgotPasswordForm, 'email')"
                    [inputValid]="forgotPasswordForm.controls.email.errors?.required">
                    <div class="regexTel">
                        <ng-container *ngIf="regexEmail(forgotPasswordForm, 'email')">
                            <p class="text-danger"> Email không hợp lệ</p>
                        </ng-container>
                    </div>
                </at-input>
            </div>
        </div>
    </div>
</div>
<at-modal-footer>
    <button type="button" class="btn btn-primarys" (click)="onSaveModal()">Gửi</button>
</at-modal-footer>