<div class="container-fluid">
    <at-card>
        <h5 class='d-flex justify-content-between hide-arrow align-items-center'>
            <h5>THÔNG TIN BỆNH NHÂN</h5>
            <div ngbDropdown class="d-inline-block" placement="bottom-right">
                <button ngbDropdownToggle class="btn-icon m-0">
                    <at-feather-icons class="h-px-18" [icon]="'more-horizontal'"></at-feather-icons>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="btn border-white" ngbDropdownItem (click)="onMedicalRecordCommitment()">Thực hiện cam kết</button>
                    <button class="btn border-white" ngbDropdownItem (click)="handleTreatmentProcess()" *ngIf="actionRole.actionTreatment">Thêm quá trình điều trị</button>
                </div>
            </div>
        </h5>
        <at-customer-info [customer]="customerInfo" [medicalRecord]="medicalMinorsugery"></at-customer-info>
    </at-card>

    <!-- <at-card>
        <h5 class="text-uppercase">Danh sách dịch vụ</h5>
        <at-base-table [colDef]="designatCol" [tableData]="designatblock"></at-base-table>
    </at-card>

    <at-card>
        <h5 class="text-uppercase">hình ảnh</h5>
        <at-pickture [medicalRecord]="medicalMinorsugery"></at-pickture>
    </at-card> -->

    <at-card>
        <h5 class="text-uppercase">Quá trình điều trị</h5>
        <at-treatment
            [medicalRecordData]="medicalMinorsugery"
            [showTitle]="false">
        </at-treatment>
    </at-card>

    <at-card>
        <h5 class="text-uppercase">hình ảnh</h5>
        <at-pickture [medicalRecord]="medicalMinorsugery" [screenImage]="screenImage.examine"></at-pickture>
    </at-card>

    <at-card>
        <h5 class="text-uppercase">Ghi chú</h5>
        <ng-container *ngTemplateOutlet="noteBlock"></ng-container>
    </at-card>

    <at-card>
        <h5 class="text-uppercase">thu phí</h5>
        <at-fee [medicalRecord]="medicalMinorsugery"></at-fee>
    </at-card>

    <at-examina-footer currentRoom="tiểu phẫu" (eventCancel)="onBackClick()" #ftA>
        <button class="btn btn-primarys m-l-12 move-room m-t-5 hide_lt-md" (click)="onMoveRoome(ftA)">chuyển phòng</button>
        
        <ng-container class="mobile">
            <button ngbDropdownItem (click)="onMoveRoome(ftA)">Chuyển phòng</button>
        </ng-container>
    </at-examina-footer>
</div>

<ng-template #noteBlock>
    <textarea class="form-control" [(ngModel)]="medicalMinorsugery.note"></textarea>
    <div class="w-100 m-t-24 d-flex justify-content-end">
        <button class="btn btn-second" (click)="onSaveNote()">Lưu</button>
    </div>
</ng-template>