@import '../../../../assets/scss/theme/breakpoints';

.calendar {
  border: 1px solid silver;
  background: none;
  border-radius: 0 5px 5px 0;
  border-left: unset;
  padding: 0 10px;
}

.datepicker-here {
  pointer-events: none;
}

::ng-deep {

  .date-time-picker {
    position: absolute;
    will-change: transform;
    z-index: 2100 !important;
    background: #fff;
    max-height: max-content;
    box-shadow: 0 5px 10px 3px rgb(33 33 33 / 10%);
    border-radius: 0.25rem;

    >div {
      @include media-breakpoint('lt-sm') {
        flex-direction: column;
      }
    }
    ngb-datepicker {
      border: none;

      .bg-primary {
        background-color: #f99f2a !important;
        color: #ffffff;
      }

      .ngb-dp-weekday {
        width: calc((100%) / 7);
      }
    }

    ngb-timepicker {
      display: flex;
      align-items: center;

      fieldset {
        border: none;

        .ngb-tp-input {
          margin-top: 12px;
          margin-bottom: 12px;
        }

        .btn-link {
          width: 64px;
          color: #323232;
        }
      }
    }
  }


  .dropdown-toggle::after,
  .dropup .dropdown-toggle::after {
    display: none;
  }
}