<div class="modal-header">
  <h4 class="modal-title">Thay đổi mật khẩu</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">
  <form novalidate action="" [formGroup]="staffForm" class="needs-validation">
    <ng-container>
      <div class="col-12">
        <div class="row">
          <ng-container *ngFor="let form of contentForm">
            <div class="form-group col-12 px-0">
              <label [for]="form.formName" class="btn-default-font">
                <span class="star-color">* </span>{{ form.label }}</label>
              <div class="form-control d-flex" [ngClass]="{'input-danger': validateForm(staffForm, form.formName)}">
                <input class="w-100" style="border: none;" [id]="form.formName" [type]="form.hide? 'password' : 'text'"
                  [formControlName]="form.formName" autocomplete="off" placeholder="Nhập thông tin">
                <at-feather-icons class="h-px-16 c-pointer" [icon]="'eye'" *ngIf="form.hide"
                  (click)="form.hide = !form.hide"></at-feather-icons>
                <at-feather-icons class="h-px-16 c-pointer" [icon]="'eye-off'" *ngIf="!form.hide"
                  (click)="form.hide = !form.hide"></at-feather-icons>
              </div>
              <ng-container *ngIf="validateForm(staffForm, form.formName)">
                <p class="text-danger" *ngIf="staffForm.controls[form.formName].errors?.required">Nhập {{ form.label }}
                </p>
              </ng-container>
              <ng-container *ngIf="!staffForm.controls[form.formName].errors?.required">
                <p class="text-danger" *ngIf="staffForm.controls[form.formName].errors?.maxlength">Mật khẩu tối đa 32 kí
                  tự</p>
                <p class="text-danger" *ngIf="staffForm.controls[form.formName].errors?.minlength">Mật khẩu tối thiểu 6
                  kí tự</p>

                <p class="text-danger" *ngIf="form.formName === 'confirmPassword' &&
                                    !staffForm.controls[form.formName].errors?.maxlength &&
                                                      !staffForm.controls[form.formName].errors?.minlength &&
                                                      staffForm.errors?.notSame">Mật khẩu không trùng khớp</p>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </form>
</div>

<at-modal-footer>
  <button class="btn btn-primarys m-r-12" (click)="onSavePasswordForm()">lưu</button>
  <button type="button" class="btn" (click)="activeModal.close()">Quay lại</button>
</at-modal-footer>