<div class="chair row">
  <ng-container *ngFor="let chair of chairList">
    <div class="chair-item col-12 col-xl-3 col-md-6 c-pointer" *ngIf="checkActiveChair(chair)">
      <div class="chair-item-border d-flex flex-column"
        [ngStyle]="{'background-color': getItemColor(chair.chairStatus)}" (click)="onSelectChair(chair)">
        <span class="text-center font-weight-bold f-16">{{ chair.name }}</span>
        <ng-container *ngIf="chair.chairStatus != chairStatus.AVAILABLE; else chairEmty">
          <span>Trạng thái: {{ chair.chairStatus }}</span>
          <span>Thời gian bắt đầu: {{ (chair.updateDateTime | date : 'HH:mm' : "GMT") | replaceNull }}</span>
          <span>Tổng thời gian đã dùng: {{ getTimeInChair(chair.updateDateTime) }}</span>
          <span>Người thực hiện: {{ getStaffName(chair.staffId) }}</span>
        </ng-container>
        <ng-template #chairEmty>
          <span>Trạng thái: {{ chair.chairStatus }}</span>
        </ng-template>
      </div>
    </div>
  </ng-container>

</div>