.last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.1);
} 
.name
{
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.mail
{
    font-size: 14px;
    color: rgba(10,31,68,.5);
}
.login
{
    font-size: 14px;
    color: #212121;
}
.hoverLi:hover
{
    color: #16181b;
    text-decoration: none;
    background-color: #e9ecef;
}
.img-logo {
    max-height: 75px;
}

